In [206]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression, SGDRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

kernel_stats = pd.read_csv('titanic/train.csv')
kernel_stats

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [207]:
stats = kernel_stats.to_numpy()
stats
X = np.concatenate((np.reshape(stats[:,2],(len(stats),1)),stats[:,4:8],np.reshape(stats[:,9],(len(stats),1)),np.reshape(stats[:,11],(len(stats),1))), axis = 1)
y = stats[:,1]
y=y.astype('int')

In [208]:
X

array([[3, 'male', 22.0, ..., 0, 7.25, 'S'],
       [1, 'female', 38.0, ..., 0, 71.2833, 'C'],
       [3, 'female', 26.0, ..., 0, 7.925, 'S'],
       ...,
       [3, 'female', nan, ..., 2, 23.45, 'S'],
       [1, 'male', 26.0, ..., 0, 30.0, 'C'],
       [3, 'male', 32.0, ..., 0, 7.75, 'Q']], dtype=object)

In [209]:
np.reshape(stats[:,2],(1,len(stats))).shape

(1, 891)

In [210]:
for i in range(len(X[:,1])):
    if X[i,1] == "male":
        X[i,1] = 0
    else:
        X[i,1] = 1

for i in range(len(X[:,6])):
    if X[i,6] == "S":
        X[i,6] = 0
    elif X[i,6] == "C":
        X[i,6] = 1
    else:
        X[i,6] = 2

In [211]:
X

array([[3, 0, 22.0, ..., 0, 7.25, 0],
       [1, 1, 38.0, ..., 0, 71.2833, 1],
       [3, 1, 26.0, ..., 0, 7.925, 0],
       ...,
       [3, 1, nan, ..., 2, 23.45, 0],
       [1, 0, 26.0, ..., 0, 30.0, 1],
       [3, 0, 32.0, ..., 0, 7.75, 2]], dtype=object)

In [212]:
imp = IterativeImputer(max_iter=10000, random_state=0)
imp.fit(X)
X_imp = imp.transform(X)

In [213]:
scaler = StandardScaler()
X_norm = scaler.fit_transform(X_imp)

In [214]:
sgdr = LogisticRegression()
sgdr.fit(X_norm, y)

LogisticRegression()

In [215]:
type(y[0])

numpy.int32

In [216]:
stats = pd.read_csv('titanic/test.csv')
stats

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [217]:
stats = stats.to_numpy()
prompt = np.concatenate((np.reshape(stats[:,1],(len(stats),1)),stats[:,3:7],np.reshape(stats[:,8],(len(stats),1)),np.reshape(stats[:,10],(len(stats),1))), axis = 1)

In [218]:
prompt

array([[3, 'male', 34.5, ..., 0, 7.8292, 'Q'],
       [3, 'female', 47.0, ..., 0, 7.0, 'S'],
       [2, 'male', 62.0, ..., 0, 9.6875, 'Q'],
       ...,
       [3, 'male', 38.5, ..., 0, 7.25, 'S'],
       [3, 'male', nan, ..., 0, 8.05, 'S'],
       [3, 'male', nan, ..., 1, 22.3583, 'C']], dtype=object)

In [219]:
X = prompt
for i in range(len(X[:,1])):
    if X[i,1] == "male":
        X[i,1] = 0
    else:
        X[i,1] = 1

for i in range(len(X[:,6])):
    if X[i,6] == "S":
        X[i,6] = 0
    elif X[i,6] == "C":
        X[i,6] = 1
    else:
        X[i,6] = 2
X

array([[3, 0, 34.5, ..., 0, 7.8292, 2],
       [3, 1, 47.0, ..., 0, 7.0, 0],
       [2, 0, 62.0, ..., 0, 9.6875, 2],
       ...,
       [3, 0, 38.5, ..., 0, 7.25, 0],
       [3, 0, nan, ..., 0, 8.05, 0],
       [3, 0, nan, ..., 1, 22.3583, 1]], dtype=object)

In [220]:
results = np.concatenate((np.reshape(stats[:,0],(len(stats),1)),np.zeros((418,1))), axis=1)
results

array([[892, 0.0],
       [893, 0.0],
       [894, 0.0],
       [895, 0.0],
       [896, 0.0],
       [897, 0.0],
       [898, 0.0],
       [899, 0.0],
       [900, 0.0],
       [901, 0.0],
       [902, 0.0],
       [903, 0.0],
       [904, 0.0],
       [905, 0.0],
       [906, 0.0],
       [907, 0.0],
       [908, 0.0],
       [909, 0.0],
       [910, 0.0],
       [911, 0.0],
       [912, 0.0],
       [913, 0.0],
       [914, 0.0],
       [915, 0.0],
       [916, 0.0],
       [917, 0.0],
       [918, 0.0],
       [919, 0.0],
       [920, 0.0],
       [921, 0.0],
       [922, 0.0],
       [923, 0.0],
       [924, 0.0],
       [925, 0.0],
       [926, 0.0],
       [927, 0.0],
       [928, 0.0],
       [929, 0.0],
       [930, 0.0],
       [931, 0.0],
       [932, 0.0],
       [933, 0.0],
       [934, 0.0],
       [935, 0.0],
       [936, 0.0],
       [937, 0.0],
       [938, 0.0],
       [939, 0.0],
       [940, 0.0],
       [941, 0.0],
       [942, 0.0],
       [943, 0.0],
       [944, 0.0],
       [945, 0.0],
       [946, 0.0],
       [947, 0.0],
       [948, 0.0],
       [949, 0.0],
       [950, 0.0],
       [951, 0.0],
       [952, 0.0],
       [953, 0.0],
       [954, 0.0],
       [955, 0.0],
       [956, 0.0],
       [957, 0.0],
       [958, 0.0],
       [959, 0.0],
       [960, 0.0],
       [961, 0.0],
       [962, 0.0],
       [963, 0.0],
       [964, 0.0],
       [965, 0.0],
       [966, 0.0],
       [967, 0.0],
       [968, 0.0],
       [969, 0.0],
       [970, 0.0],
       [971, 0.0],
       [972, 0.0],
       [973, 0.0],
       [974, 0.0],
       [975, 0.0],
       [976, 0.0],
       [977, 0.0],
       [978, 0.0],
       [979, 0.0],
       [980, 0.0],
       [981, 0.0],
       [982, 0.0],
       [983, 0.0],
       [984, 0.0],
       [985, 0.0],
       [986, 0.0],
       [987, 0.0],
       [988, 0.0],
       [989, 0.0],
       [990, 0.0],
       [991, 0.0],
       [992, 0.0],
       [993, 0.0],
       [994, 0.0],
       [995, 0.0],
       [996, 0.0],
       [997, 0.0],
       [998, 0.0],
       [999, 0.0],
       [1000, 0.0],
       [1001, 0.0],
       [1002, 0.0],
       [1003, 0.0],
       [1004, 0.0],
       [1005, 0.0],
       [1006, 0.0],
       [1007, 0.0],
       [1008, 0.0],
       [1009, 0.0],
       [1010, 0.0],
       [1011, 0.0],
       [1012, 0.0],
       [1013, 0.0],
       [1014, 0.0],
       [1015, 0.0],
       [1016, 0.0],
       [1017, 0.0],
       [1018, 0.0],
       [1019, 0.0],
       [1020, 0.0],
       [1021, 0.0],
       [1022, 0.0],
       [1023, 0.0],
       [1024, 0.0],
       [1025, 0.0],
       [1026, 0.0],
       [1027, 0.0],
       [1028, 0.0],
       [1029, 0.0],
       [1030, 0.0],
       [1031, 0.0],
       [1032, 0.0],
       [1033, 0.0],
       [1034, 0.0],
       [1035, 0.0],
       [1036, 0.0],
       [1037, 0.0],
       [1038, 0.0],
       [1039, 0.0],
       [1040, 0.0],
       [1041, 0.0],
       [1042, 0.0],
       [1043, 0.0],
       [1044, 0.0],
       [1045, 0.0],
       [1046, 0.0],
       [1047, 0.0],
       [1048, 0.0],
       [1049, 0.0],
       [1050, 0.0],
       [1051, 0.0],
       [1052, 0.0],
       [1053, 0.0],
       [1054, 0.0],
       [1055, 0.0],
       [1056, 0.0],
       [1057, 0.0],
       [1058, 0.0],
       [1059, 0.0],
       [1060, 0.0],
       [1061, 0.0],
       [1062, 0.0],
       [1063, 0.0],
       [1064, 0.0],
       [1065, 0.0],
       [1066, 0.0],
       [1067, 0.0],
       [1068, 0.0],
       [1069, 0.0],
       [1070, 0.0],
       [1071, 0.0],
       [1072, 0.0],
       [1073, 0.0],
       [1074, 0.0],
       [1075, 0.0],
       [1076, 0.0],
       [1077, 0.0],
       [1078, 0.0],
       [1079, 0.0],
       [1080, 0.0],
       [1081, 0.0],
       [1082, 0.0],
       [1083, 0.0],
       [1084, 0.0],
       [1085, 0.0],
       [1086, 0.0],
       [1087, 0.0],
       [1088, 0.0],
       [1089, 0.0],
       [1090, 0.0],
       [1091, 0.0],
       [1092, 0.0],
       [1093, 0.0],
       [1094, 0.0],
       [1095, 0.0],
       [1096, 0.0],
       [1097, 0.0],
       [1098, 0.0],
       [1099, 0.0],
       [1100, 0.0],
       [1101, 0.0],
       [1102, 0.0],
       [1103, 0.0],
       [1104, 0.0],
       [1105, 0.0],
       [1106, 0.0],
       [1107, 0.0],
       [1108, 0.0],
       [1109, 0.0],
       [1110, 0.0],
       [1111, 0.0],
       [1112, 0.0],
       [1113, 0.0],
       [1114, 0.0],
       [1115, 0.0],
       [1116, 0.0],
       [1117, 0.0],
       [1118, 0.0],
       [1119, 0.0],
       [1120, 0.0],
       [1121, 0.0],
       [1122, 0.0],
       [1123, 0.0],
       [1124, 0.0],
       [1125, 0.0],
       [1126, 0.0],
       [1127, 0.0],
       [1128, 0.0],
       [1129, 0.0],
       [1130, 0.0],
       [1131, 0.0],
       [1132, 0.0],
       [1133, 0.0],
       [1134, 0.0],
       [1135, 0.0],
       [1136, 0.0],
       [1137, 0.0],
       [1138, 0.0],
       [1139, 0.0],
       [1140, 0.0],
       [1141, 0.0],
       [1142, 0.0],
       [1143, 0.0],
       [1144, 0.0],
       [1145, 0.0],
       [1146, 0.0],
       [1147, 0.0],
       [1148, 0.0],
       [1149, 0.0],
       [1150, 0.0],
       [1151, 0.0],
       [1152, 0.0],
       [1153, 0.0],
       [1154, 0.0],
       [1155, 0.0],
       [1156, 0.0],
       [1157, 0.0],
       [1158, 0.0],
       [1159, 0.0],
       [1160, 0.0],
       [1161, 0.0],
       [1162, 0.0],
       [1163, 0.0],
       [1164, 0.0],
       [1165, 0.0],
       [1166, 0.0],
       [1167, 0.0],
       [1168, 0.0],
       [1169, 0.0],
       [1170, 0.0],
       [1171, 0.0],
       [1172, 0.0],
       [1173, 0.0],
       [1174, 0.0],
       [1175, 0.0],
       [1176, 0.0],
       [1177, 0.0],
       [1178, 0.0],
       [1179, 0.0],
       [1180, 0.0],
       [1181, 0.0],
       [1182, 0.0],
       [1183, 0.0],
       [1184, 0.0],
       [1185, 0.0],
       [1186, 0.0],
       [1187, 0.0],
       [1188, 0.0],
       [1189, 0.0],
       [1190, 0.0],
       [1191, 0.0],
       [1192, 0.0],
       [1193, 0.0],
       [1194, 0.0],
       [1195, 0.0],
       [1196, 0.0],
       [1197, 0.0],
       [1198, 0.0],
       [1199, 0.0],
       [1200, 0.0],
       [1201, 0.0],
       [1202, 0.0],
       [1203, 0.0],
       [1204, 0.0],
       [1205, 0.0],
       [1206, 0.0],
       [1207, 0.0],
       [1208, 0.0],
       [1209, 0.0],
       [1210, 0.0],
       [1211, 0.0],
       [1212, 0.0],
       [1213, 0.0],
       [1214, 0.0],
       [1215, 0.0],
       [1216, 0.0],
       [1217, 0.0],
       [1218, 0.0],
       [1219, 0.0],
       [1220, 0.0],
       [1221, 0.0],
       [1222, 0.0],
       [1223, 0.0],
       [1224, 0.0],
       [1225, 0.0],
       [1226, 0.0],
       [1227, 0.0],
       [1228, 0.0],
       [1229, 0.0],
       [1230, 0.0],
       [1231, 0.0],
       [1232, 0.0],
       [1233, 0.0],
       [1234, 0.0],
       [1235, 0.0],
       [1236, 0.0],
       [1237, 0.0],
       [1238, 0.0],
       [1239, 0.0],
       [1240, 0.0],
       [1241, 0.0],
       [1242, 0.0],
       [1243, 0.0],
       [1244, 0.0],
       [1245, 0.0],
       [1246, 0.0],
       [1247, 0.0],
       [1248, 0.0],
       [1249, 0.0],
       [1250, 0.0],
       [1251, 0.0],
       [1252, 0.0],
       [1253, 0.0],
       [1254, 0.0],
       [1255, 0.0],
       [1256, 0.0],
       [1257, 0.0],
       [1258, 0.0],
       [1259, 0.0],
       [1260, 0.0],
       [1261, 0.0],
       [1262, 0.0],
       [1263, 0.0],
       [1264, 0.0],
       [1265, 0.0],
       [1266, 0.0],
       [1267, 0.0],
       [1268, 0.0],
       [1269, 0.0],
       [1270, 0.0],
       [1271, 0.0],
       [1272, 0.0],
       [1273, 0.0],
       [1274, 0.0],
       [1275, 0.0],
       [1276, 0.0],
       [1277, 0.0],
       [1278, 0.0],
       [1279, 0.0],
       [1280, 0.0],
       [1281, 0.0],
       [1282, 0.0],
       [1283, 0.0],
       [1284, 0.0],
       [1285, 0.0],
       [1286, 0.0],
       [1287, 0.0],
       [1288, 0.0],
       [1289, 0.0],
       [1290, 0.0],
       [1291, 0.0],
       [1292, 0.0],
       [1293, 0.0],
       [1294, 0.0],
       [1295, 0.0],
       [1296, 0.0],
       [1297, 0.0],
       [1298, 0.0],
       [1299, 0.0],
       [1300, 0.0],
       [1301, 0.0],
       [1302, 0.0],
       [1303, 0.0],
       [1304, 0.0],
       [1305, 0.0],
       [1306, 0.0],
       [1307, 0.0],
       [1308, 0.0],
       [1309, 0.0]], dtype=object)

In [221]:
imp = IterativeImputer(max_iter=10000, random_state=0)
imp.fit(X)
X_imp = imp.transform(X)

In [222]:
X_norm = scaler.fit_transform(X_imp)
X_norm

array([[ 0.87348191, -0.75592895,  0.38902184, ..., -0.4002477 ,
        -0.4971606 ,  2.24316522],
       [ 0.87348191,  1.32287566,  1.35699221, ..., -0.4002477 ,
        -0.51202396, -0.6778412 ],
       [-0.31581919, -0.75592895,  2.51855665, ..., -0.4002477 ,
        -0.46385067,  2.24316522],
       ...,
       [ 0.87348191, -0.75592895,  0.69877236, ..., -0.4002477 ,
        -0.50754273, -0.6778412 ],
       [ 0.87348191, -0.75592895, -0.35294054, ..., -0.4002477 ,
        -0.49320277, -0.6778412 ],
       [ 0.87348191, -0.75592895, -0.42052837, ...,  0.61989583,
        -0.23672728,  0.78266201]])

In [223]:
y_pred = sgdr.predict(X_norm)

In [224]:
y_pred

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [226]:
y_pred.shape

(418,)

In [229]:
results = np.concatenate((np.reshape(stats[:,0],(len(stats),1)),np.reshape(y_pred,(len(stats),1))), axis=1)

In [230]:
results

array([[892, 0],
       [893, 0],
       [894, 0],
       [895, 0],
       [896, 1],
       [897, 0],
       [898, 1],
       [899, 0],
       [900, 1],
       [901, 0],
       [902, 0],
       [903, 0],
       [904, 1],
       [905, 0],
       [906, 1],
       [907, 1],
       [908, 0],
       [909, 0],
       [910, 0],
       [911, 0],
       [912, 0],
       [913, 0],
       [914, 1],
       [915, 1],
       [916, 1],
       [917, 0],
       [918, 1],
       [919, 0],
       [920, 0],
       [921, 0],
       [922, 0],
       [923, 0],
       [924, 0],
       [925, 1],
       [926, 0],
       [927, 0],
       [928, 1],
       [929, 1],
       [930, 0],
       [931, 0],
       [932, 0],
       [933, 0],
       [934, 0],
       [935, 1],
       [936, 1],
       [937, 0],
       [938, 0],
       [939, 0],
       [940, 1],
       [941, 0],
       [942, 0],
       [943, 0],
       [944, 1],
       [945, 1],
       [946, 0],
       [947, 0],
       [948, 0],
       [949, 0],
       [950, 0],
       [951, 1],
       [952, 0],
       [953, 0],
       [954, 0],
       [955, 1],
       [956, 1],
       [957, 1],
       [958, 1],
       [959, 0],
       [960, 1],
       [961, 1],
       [962, 1],
       [963, 0],
       [964, 1],
       [965, 1],
       [966, 1],
       [967, 1],
       [968, 0],
       [969, 1],
       [970, 0],
       [971, 1],
       [972, 0],
       [973, 0],
       [974, 0],
       [975, 0],
       [976, 0],
       [977, 0],
       [978, 1],
       [979, 1],
       [980, 1],
       [981, 0],
       [982, 1],
       [983, 0],
       [984, 1],
       [985, 0],
       [986, 1],
       [987, 0],
       [988, 1],
       [989, 0],
       [990, 1],
       [991, 0],
       [992, 1],
       [993, 0],
       [994, 0],
       [995, 0],
       [996, 1],
       [997, 0],
       [998, 0],
       [999, 0],
       [1000, 0],
       [1001, 0],
       [1002, 0],
       [1003, 1],
       [1004, 1],
       [1005, 1],
       [1006, 1],
       [1007, 0],
       [1008, 0],
       [1009, 1],
       [1010, 1],
       [1011, 1],
       [1012, 1],
       [1013, 0],
       [1014, 1],
       [1015, 0],
       [1016, 0],
       [1017, 1],
       [1018, 0],
       [1019, 1],
       [1020, 0],
       [1021, 0],
       [1022, 0],
       [1023, 0],
       [1024, 1],
       [1025, 0],
       [1026, 0],
       [1027, 0],
       [1028, 0],
       [1029, 0],
       [1030, 1],
       [1031, 0],
       [1032, 0],
       [1033, 1],
       [1034, 0],
       [1035, 0],
       [1036, 0],
       [1037, 0],
       [1038, 0],
       [1039, 0],
       [1040, 0],
       [1041, 0],
       [1042, 1],
       [1043, 0],
       [1044, 0],
       [1045, 0],
       [1046, 0],
       [1047, 0],
       [1048, 1],
       [1049, 1],
       [1050, 0],
       [1051, 1],
       [1052, 1],
       [1053, 0],
       [1054, 1],
       [1055, 0],
       [1056, 0],
       [1057, 0],
       [1058, 0],
       [1059, 0],
       [1060, 1],
       [1061, 1],
       [1062, 0],
       [1063, 0],
       [1064, 0],
       [1065, 0],
       [1066, 0],
       [1067, 1],
       [1068, 1],
       [1069, 0],
       [1070, 1],
       [1071, 1],
       [1072, 0],
       [1073, 0],
       [1074, 1],
       [1075, 0],
       [1076, 1],
       [1077, 0],
       [1078, 1],
       [1079, 0],
       [1080, 0],
       [1081, 0],
       [1082, 0],
       [1083, 0],
       [1084, 0],
       [1085, 0],
       [1086, 0],
       [1087, 0],
       [1088, 1],
       [1089, 1],
       [1090, 0],
       [1091, 1],
       [1092, 1],
       [1093, 0],
       [1094, 0],
       [1095, 1],
       [1096, 0],
       [1097, 0],
       [1098, 1],
       [1099, 0],
       [1100, 1],
       [1101, 0],
       [1102, 0],
       [1103, 0],
       [1104, 0],
       [1105, 0],
       [1106, 0],
       [1107, 0],
       [1108, 1],
       [1109, 0],
       [1110, 1],
       [1111, 0],
       [1112, 1],
       [1113, 0],
       [1114, 1],
       [1115, 0],
       [1116, 1],
       [1117, 1],
       [1118, 0],
       [1119, 1],
       [1120, 0],
       [1121, 0],
       [1122, 0],
       [1123, 1],
       [1124, 0],
       [1125, 0],
       [1126, 0],
       [1127, 0],
       [1128, 0],
       [1129, 0],
       [1130, 1],
       [1131, 1],
       [1132, 1],
       [1133, 1],
       [1134, 0],
       [1135, 0],
       [1136, 0],
       [1137, 0],
       [1138, 1],
       [1139, 0],
       [1140, 1],
       [1141, 1],
       [1142, 1],
       [1143, 0],
       [1144, 1],
       [1145, 0],
       [1146, 0],
       [1147, 0],
       [1148, 0],
       [1149, 0],
       [1150, 1],
       [1151, 0],
       [1152, 0],
       [1153, 0],
       [1154, 1],
       [1155, 1],
       [1156, 0],
       [1157, 0],
       [1158, 0],
       [1159, 0],
       [1160, 1],
       [1161, 0],
       [1162, 0],
       [1163, 0],
       [1164, 1],
       [1165, 1],
       [1166, 0],
       [1167, 1],
       [1168, 0],
       [1169, 0],
       [1170, 0],
       [1171, 0],
       [1172, 1],
       [1173, 0],
       [1174, 1],
       [1175, 1],
       [1176, 1],
       [1177, 0],
       [1178, 0],
       [1179, 0],
       [1180, 0],
       [1181, 0],
       [1182, 0],
       [1183, 1],
       [1184, 0],
       [1185, 0],
       [1186, 0],
       [1187, 0],
       [1188, 1],
       [1189, 0],
       [1190, 1],
       [1191, 0],
       [1192, 0],
       [1193, 0],
       [1194, 0],
       [1195, 0],
       [1196, 1],
       [1197, 1],
       [1198, 0],
       [1199, 0],
       [1200, 0],
       [1201, 0],
       [1202, 0],
       [1203, 0],
       [1204, 0],
       [1205, 1],
       [1206, 1],
       [1207, 1],
       [1208, 0],
       [1209, 0],
       [1210, 0],
       [1211, 0],
       [1212, 0],
       [1213, 0],
       [1214, 0],
       [1215, 0],
       [1216, 1],
       [1217, 0],
       [1218, 1],
       [1219, 0],
       [1220, 0],
       [1221, 0],
       [1222, 1],
       [1223, 0],
       [1224, 0],
       [1225, 1],
       [1226, 0],
       [1227, 0],
       [1228, 0],
       [1229, 0],
       [1230, 0],
       [1231, 0],
       [1232, 0],
       [1233, 0],
       [1234, 0],
       [1235, 1],
       [1236, 0],
       [1237, 1],
       [1238, 0],
       [1239, 1],
       [1240, 0],
       [1241, 1],
       [1242, 1],
       [1243, 0],
       [1244, 0],
       [1245, 0],
       [1246, 1],
       [1247, 0],
       [1248, 1],
       [1249, 0],
       [1250, 0],
       [1251, 0],
       [1252, 0],
       [1253, 1],
       [1254, 1],
       [1255, 0],
       [1256, 1],
       [1257, 0],
       [1258, 0],
       [1259, 1],
       [1260, 1],
       [1261, 0],
       [1262, 0],
       [1263, 1],
       [1264, 0],
       [1265, 0],
       [1266, 1],
       [1267, 1],
       [1268, 0],
       [1269, 0],
       [1270, 0],
       [1271, 0],
       [1272, 0],
       [1273, 0],
       [1274, 1],
       [1275, 1],
       [1276, 0],
       [1277, 1],
       [1278, 0],
       [1279, 0],
       [1280, 0],
       [1281, 0],
       [1282, 1],
       [1283, 1],
       [1284, 0],
       [1285, 0],
       [1286, 0],
       [1287, 1],
       [1288, 0],
       [1289, 1],
       [1290, 0],
       [1291, 0],
       [1292, 1],
       [1293, 0],
       [1294, 1],
       [1295, 1],
       [1296, 0],
       [1297, 0],
       [1298, 0],
       [1299, 0],
       [1300, 1],
       [1301, 1],
       [1302, 1],
       [1303, 1],
       [1304, 1],
       [1305, 0],
       [1306, 1],
       [1307, 0],
       [1308, 0],
       [1309, 0]], dtype=object)

In [231]:
df = pd.DataFrame(results, columns=['PassengerId','Survived'])

In [232]:
df

    PassengerId Survived
0           892        0
1           893        0
2           894        0
3           895        0
4           896        1
..          ...      ...
413        1305        0
414        1306        1
415        1307        0
416        1308        0
417        1309        0

[418 rows x 2 columns]

In [233]:
df.to_csv('results.csv')